= form_for @bahia, remote: true do |f|
  .form-group
    %h4.control-label Nueva Bahia:
  %div{:class => "item form-group#{@bahia.errors[:bahia].any? ? 'has-error has-feedback' : ''}"}
    = f.label :bahia, "Bahia:"
    .input-group
      = f.text_field :bahia, {:class=> "form-control", :placeholder=>"Introduzca nombre de bahia..."}
      - if @bahia.errors[:bahia].any?
        %p.bg-danger= @bahia.errors[:bahia].to_s[/\w([^"]*)/]
  .actions.col-md-9.col-sm-9.col-xs-12.col-md-offset-3
    = f.submit @bahia.new_record? ? "Crear Bahia" : "Actualizar Bahia", :class => "btn btn-success"
