%h1 Listado Bahias
.form-wrapper
  .page-header
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Bahia
        -#%th Club
        %th
        %th

    %tbody
      - @bahias.each do |bahia|
        %tr
          %td= bahia.bahia
          -#%td= bahia.club.no_club
          -#%td= link_to 'Show', bahia
          %td= link_to 'Editar', edit_bahia_path(bahia), class: 'btn btn-outline-warning'
          %td= link_to 'Eliminar', bahia, class: 'btn btn-outline-danger', method: :delete, data: { confirm: 'Esta seguro de eliminar registro?' }
  %br

  = link_to 'Nueva Bahia', new_bahia_path, class: 'btn btn-outline-primary'
  %h2
  = link_to 'Regresar A Pedidos', pedidos_path, class: 'btn btn-outline-secondary'