%h1.h3.mb-2.text-gray-800 Listado de Bahias
%div
  = link_to new_bahia_path, {remote: true, class: "btn btn-info", id:"añadir-bahia-btn"} do
    %span.fas.fa-plus-square
%br
.card.shadow.mb-4
  .card-body
  .table-responsive
    %table#tablaBahias.table.table-bordered{:width => "100%"}
      %thead
        %tr
          %th Bahia
      %tbody
        - @bahias.each do |bahia|
          %tr{:id => "bahia_#{bahia.id}"}
            %td= bahia.bahia
            %td
              = link_to 'Editar', edit_bahia_path(bahia), html_options = {class: "btn btn-outline-warning", remote: true}
              = link_to 'Eliminar', bahia, remote: true, method: :delete, data: { confirm: "Esta seguro de eliminar registro: #{bahia.bahia}?"}, class: 'btn btn-outline-danger'
= render 'modal_bahias'
