= form_for [@pedido, @entrega], html: { multipart: true } do |f|

  - if @entrega.errors.any?
    #error_explanation
      %h2= "#{pluralize(@entrega.errors.count, "error")} prohibited this entrega from being saved:"
      %ul
        - @entrega.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :Subir_o_tomar_fotografia
    = f.file_field :picture
  .field
    = f.label :entregado
    = f.check_box :entregado
  .field
    = f.hidden_field :entregadopor
    = f.hidden_field :entregadopor, { :value => current_user.first_name}
  .field
    = f.hidden_field :fecha_entrega
    = f.hidden_field :fecha_entrega
  -#.field
    -#= f.label :pedido
    -#= f.text_field :pedido_id
  .field
    = f.label :Subir_Pedido_Pdf
    = f.file_field :doc
    
  .actions
    = f.submit 'Save'
