%h2 Pedido: #{@pedido.orden}
%h2 OMS: #{@pedido.OMS}
%h2 Socio: #{@pedido.socio}

.page-header
%table.table.table-striped
  %thead
    %tr
      -#%th Entregado
      %th Membresia
      -#%th pedido_pdf
      -#%th Fecha entrega
      -#%th Pedido
      -#%th
      -# %th
      -# %th

  %tbody
    - @entregas.each do |entrega|
      %tr
        -#%td= entrega.entregado
        - if entrega.picture.attached?
          %td= image_tag (url_for(entrega.thumbnail))#thumbnail  
        - else
        - if entrega.doc.attached?
          = link_to 'Descargar Pedido PDF', rails_blob_path(entrega.doc, disposition: 'attachment'), class: 'btn btn-primary btn-lg'
          
          -#%td= entrega.fecha_entrega
          -#%td= entrega.pedido.orden
        -#%td= link_to 'Show', [@pedido, @active_storage] 
        -# %td= link_to 'Edit', edit_entrega_path(entrega)
        -# %td= link_to 'Destroy', entrega, method: :delete, data: { confirm: 'Are you sure?' }

%br


= link_to 'Subir foto / pdf ', new_pedido_entrega_path(@pedido),class: 'btn btn-primary btn-sm'
= link_to 'Regresar', pedidos_path, class: 'btn btn-warning btn-sm'