= form_for @pedido do |f|
  - if @pedido.errors.any?
    #error_explanation
      %h2= "#{pluralize(@pedido.errors.count, "error")} prohibited this pedido from being saved:"
      %ul
        - @pedido.errors.full_messages.each do |message|
          %li= message
  .field
    -#= f.label :ubicacion
    -# = f.collection_select :ubicacion_id, Ubicacion.all, :id, :ubicacion, {prompt: "seleccione ubicacion"}
  .field
    = f.label :Estado
    = f.collection_select :estado_id, Estado.all, :id, :descripcion, {prompt: "seleccione estado"}
  .actions
    = f.submit 'Save'   
-  # .field
-  #   = f.label :pictures
-  #   = f.file_field :pictures, multiple: true
-  # .field
-  #   = f.label :orden
-  #   = f.number_field :orden
-  # .field
-  #   = f.label :OMS
-  #   = f.text_field :OMS
-  # .field
-  #   = f.label :no_items
-  #   = f.number_field :no_items
-  # .field
-  #   = f.label :socio
-  #   = f.text_field :socio
-  # .field
-  #   = f.label :fecha_orden
-  #   = f.date_select :fecha_orden 
-  # .field
-  #   = f.label :tipo_entrega
-  #   = f.text_field :tipo_entrega
-  # .field
-  #   = f.label :responsable
-  #   = f.text_field :responsable
-  # .field
-  #   = f.label :club
-  #   = f.text_field :club

