= form_for @pedido do |f|
  - if @pedido.errors.any?
    .alert.alert-danger.alert-dismissable
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      %ul.list-unstyled
        - @pedido.errors.full_messages.each do |msg|
          = content_tag :li, msg, :id => "error_#{msg}" if msg.is_a?(String)

    -##error_explanation
      -#%h2= "#{pluralize(@pedido.errors.count, "error")} prohibited this pedido from being saved:"
      -#%ul
        -#- @pedido.errors.full_messages.each do |message|
        -# %li= message
  .form-group
    -#= f.label :ubicacion
    -# = f.collection_select :ubicacion_id, Ubicacion.all, :id, :ubicacion, {prompt: "seleccione ubicacion"}
  .form-group
    = f.label :Estado
    = f.collection_select :estado_id, Estado.all, :id, :descripcion, {prompt: "seleccione estado"}
  -# .field
  -#   = f.label :pictures
  -#   = f.file_field :pictures, multiple: true
  .form-group
    = f.label :orden
    = f.number_field :orden
  .form-group
    = f.label :OMS
    = f.text_field :OMS
  .form-group
    = f.label :no_items
    = f.number_field :no_items
  .form-group
    = f.label :socio
    = f.text_field :socio  
  .form-group
    = f.label :fecha_orden
    = f.date_select :fecha_orden, {:disabled => true}
  -# .field
  -#   = f.label :tipo_entrega
  -#   = f.text_field :tipo_entrega
  -#.field
    -#= f.label :responsable
    -#= f.text_field :responsable
  .form-group
    = f.hidden_field :club
    = f.hidden_field :club_id, { :value => current_user.club_id}
    .actions
    = f.submit 'Guardar', class: "btn btn-outline-primary"
