%h1 Listado de pedidos

-#%h1 Pedidos asignados : Pedido: #{@pedido.orden}
-#= will_paginate @pedidos, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
-#.custom-file
-#  %input#customFile.custom-file-input{:type => "file"}/
-#  %label.custom-file-label{:for => "customFile"} Choose file

%h3 Importar pedidos
= form_tag import_pedidos_path, multipart: true do
  = link_to 'Subir pedidos', new_items_import_path, class: 'btn btn-primary btn-lg active'
  = will_paginate @pedidos, list_classes: %w(pagination justify-content-end)

.page-header
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Orden
      %th Oms / Vehiculo
      %th Estado Actual
      %th Cambiar Estado 
      %th Ubicacion 
      %th No Items
      %th Socio
      %th Fecha orden
      %th Acciones
      %th Asignacion

  %tbody
    - @pedidos.each do |pedido|
      %tr
        %td= pedido.orden
        %td= pedido.OMS
        -#%td= collection_select :estado, :estado_id, Estado.all, :id, :descripcion
        -#%td= link_to 'Asignar ubicacion', edit_pedido_path(pedido), class: 'btn btn-success btn-sm'
        -#%td= link_to 'Asignar ubicacion', new_pedido_ubicacion_path(pedido), class: 'btn btn-success btn-sm'
        %td= pedido.estado.descripcion
        -#%td= pedido.estado.descripcion = estadospedidos = params[:estadospedidos]
        -#%td= link_to 'Estado', pedido_estadospedidos_path(pedido), class: 'btn btn-secondary btn-sm'
        %td= link_to 'Cambiar Estado / editar', edit_pedido_path(pedido), class: 'btn btn-info'
        %td= link_to 'Ubicar', pedido_posiciones_path(pedido), class: 'btn btn-success'
        %td= pedido.no_items
        %td= pedido.socio
        %td= pedido.fecha_orden
        %td= link_to 'Entregar - visualizar', pedido_entregas_path(pedido), class: 'btn btn-primary'
        -#%td= collection_select :tipo_entrega, :tipo_entrega_id, TipoEntrega.all, :id, :entregado_por
        -#%td= pedido.tipo_entrega.entregado_por
        -#%td= pedido.responsable.responsable
        -#%td= pedido.club.no_club
        -#%td= link_to 'Mostrar', pedido_entregas_path(pedido), class: 'btn btn-warning'
        %td= link_to 'Asignar Pedido', pedido_responsables_path(pedido), class: 'btn btn-warning'
        /%td= link_to 'Editar', edit_pedido_path(pedido), class: 'btn btn-warning'
        /%td= link_to 'Eliminar', pedido, method: :delete, data: { confirm: 'Are you sure?' }
%br
= will_paginate @pedidos, list_classes: %w(pagination justify-content-end)
.text-center= page_entries_info


= link_to 'Agregar pedido manual', new_pedido_path, class: 'btn btn-info btn-lg active'

-# - if entrega.picture.attached?
-#   %td= image_tag (url_for(entrega.thumbnail))#thumbnail  
-# - else
-# - if entrega.doc.attached?
-#   = link_to 'Descargar Pedido PDF', rails_blob_path(entrega.doc, disposition: 'attachment'), class: 'btn btn-primary btn-lg'