%h1 Listing ubicaciones

%table
  %thead
    %tr
      %th Club
      %th Pedido
      %th
      %th
      %th

  %tbody
    - @ubicaciones.each do |ubicacion|
      %tr
        %td= ubicacion.club
        %td= ubicacion.pedido
        %td= link_to 'Show', ubicacion
        %td= link_to 'Edit', edit_ubicacion_path(ubicacion)
        %td= link_to 'Destroy', ubicacion, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ubicacion', new_club_ubicacion_path(@club)
