%h1 Asignar pedido: #{@pedido.orden}


%h2 OMS: #{@pedido.OMS}
%h2 Socio: #{@pedido.socio}

.page-header
%table.table.table-striped.table-bordered
  %thead
    %tr
      %th Vehiculo
      -#%th Pedido
      %th Asignado 
      -#%th Club
      %th Comentario
      %th Tiempo desde asignacion
      %th Hora de asignacion
      %th Cambiar estado

  %tbody
      
    - @responsables.each do |responsable|
      %tr
        %td= responsable.vehiculo
        -#%td= responsable.pedido.orden
        %td= responsable.user.last_name
        -#%td= responsable.club.no_club
        %td= responsable.comentario
        -#%td= responsable.created_at
        %td= time_ago_in_words(responsable.created_at)
        %td= responsable.created_at
        %td= link_to 'Cambiar Estado', edit_pedido_path(@pedido), class: 'btn btn-warning'
        -#%td= link_to 'Show', responsable
        -#%td= link_to 'Edit', edit_responsable_path(responsable)
        -#%td= link_to 'Destroy', responsable, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Asignar Responsable', new_pedido_responsable_path(@pedido), class: "btn btn-outline-primary"
