= form_for @fase do |f|
  - if @fase.errors.any?
    #error_explanation
      %h2= "#{pluralize(@fase.errors.count, "error")} prohibited this fase from being saved:"
      %ul
        - @fase.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :fase
    = f.text_field :fase
  .actions
    = f.submit 'Save'
