%h1 Listing fases

%table
  %thead
    %tr
      %th Fase
      %th
      %th
      %th

  %tbody
    - @fases.each do |fase|
      %tr
        %td= fase.fase
        %td= link_to 'Show', fase
        %td= link_to 'Edit', edit_fase_path(fase)
        %td= link_to 'Destroy', fase, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Fase', new_fase_path
