%h1 Listado de clubes
.page-header
%table.table.table-striped
  %thead
    %tr 
      %th No. Club
      %th Nombre
      %th Acciones
      /%th
      %th
      

  %tbody
    - @clubes.each do |club|
      %tr
        %td= club.no_club
        %td= club.nombre
        -#%td= link_to 'Almacenes', club_almacenes_path(club), class: 'btn btn-primary btn-sm'
        -#%td= link_to 'Pasillos', club_pasillos_path(club), class: 'btn btn-primary btn-sm'
        -#%td= link_to 'bahias', club_bahias_path(club), class: 'btn btn-primary btn-sm'
        -#%td= link_to 'ubicaciones', club_ubicaciones_path(club), class: 'btn btn-primary btn-sm'
        /%td= link_to 'Productos', club_productos_path(club), class: 'btn btn-success'
        %td= link_to 'Editar', edit_club_path(club), class: 'btn btn-warning'
        %td= link_to 'Eliminar', club, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'Nuevo Club', new_club_path, class:'btn btn-outline-primary'
