%p#notice= notice

%p
  %b No club:
  = @club.no_club
%p
  %b Nombre:
  = @club.nombre

= link_to 'Edit', edit_club_path(@club), class: "btn btn-outline-primary"
\|
= link_to 'Back', clubes_path, class: "btn btn-outline-secondary"
